.header {
    display: flex;
    justify-content: space-between ;
    align-items: center;
    border:  1px solid black;
    height: 100px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
}

.nav-items > ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0px 20px;
    font-size: 20px;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px; 
}

.search {
    padding: 10px;
}

.restaurent-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px; /* optional but recommended */
    padding: 20px;
}

.restaurent-card {
    background-color: #e8e8e8;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

.restaurent-card:hover {
    /* border: 1px solid black; */
    cursor: pointer;
}

.res-card-image {
    width: 100%;
    height: 200px;
}

.filter-btn {
    margin: 10px;
    cursor: pointer;
}